.Titulo {
	display: flex;
	align-items: center;
	margin-top: 5%;
	margin-left: 30%;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 33px;
}

.topText {
}

.Main-help {
	color: var(--TextHeading);
}

.back-icon {
	margin-top: 15px;
}

.DataInicio {
	display: flex;
	align-items: center;
	padding-left: 7%;
	flex-direction: column;
	padding-bottom: 25px;
}

.DataConclusao {
	position: absolute;
	right: 10%;
	display: flex;
	align-items: center;
	float: right;
	flex-direction: column;
}

#lbAttributes {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

#lbDataHora {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}

.DivInformacoes {
	padding-top: 25px;
	width: 100%;
}

.DivInformacoes div {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#titleAttributes {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	padding-left: 7%;
	padding-bottom: 3%;
}

#itemAttributes {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	padding-left: 7%;
	padding-bottom: 2%;
}

.precisaCamisa {
	display: flex;
	margin-left: 32px;
	margin-top: 10px;
	text-align: center;
	align-content: center;
	background-position: left;
	background-repeat: no-repeat;
	text-decoration: none;
}

.precisaComida {
	display: flex;
	margin-left: 32px;
	text-align: center;
	align-content: center;
	background-position: left;
	background-repeat: no-repeat;
	text-decoration: none;
}

.precisaAgua {
	display: flex;
	margin-left: 32px;
	text-align: center;
	align-content: center;
	background-position: left;
	background-repeat: no-repeat;
	text-decoration: none;
}

.precisaOutras {
	display: flex;
	margin-left: 32px;
	text-align: center;
	align-content: center;
	background-position: left;
	background-repeat: no-repeat;
	text-decoration: none;
}

.precisaTitle {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	padding-left: 7%;
}

.roupaTitle {
	display: flex;
	padding-left: 3px;
	vertical-align: center;
	margin-top: 17px;
}

#precisaAttributes {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	margin-top: 3%;
}

.roupaItem {
	padding-left: 7%;
	margin-left: 35px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}

.grauPrioridade {
	padding-top: 5%;
}

.sizePrioridade {
	background: #ff0c0c;
	border-radius: 5.79555px;
	width: 174px;
	height: 24px;
	margin-left: 7%;
}

.porcentagemPrioridade {
	width: 50px;
	margin-left: 7%;

	padding-bottom: 5%;
}

.back-icon {
	width: 48px;
	height: 48px;
}

.LinhaDivisoria {
	margin-top: 10%;
	margin-bottom: 10%;
	width: 100%;
	height: 1px;
	background-color: black;
}

.inputsDoacao {
	background: var(--TextHeading);
	align-self: center;
	justify-self: center;
	color: var(--Darker);
	border-radius: 4px;
	height: 35px;
	width: 80%;
	margin: 10px auto !important;
	outline: none;
	border: 0;
	text-indent: 12px;
}

.btCancelar {
	background-color: var(--ButtonBright);
	border: none;
	display: inline-block;
	width: 100%;
	height: 48px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	margin-top: 30px;
	color: var(--Darker);
	transition-duration: 0.5s;
}

.btCancelar:hover {
	background: var(--Lighter);
	color: var(--TextHeading);
}
