@import "../../../../App.css";

.Resumo-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Accordion {
	background: var(--Darker) !important;
	width: 100% !important;
	margin-top: 1%;
}

.Resumo-form {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.active {
	background: var(--Lighteen) !important;
	/* opacity: 0.75 !important; */
}

.Resumo-main text,
label {
	color: var(--TextHeading);
}

.Container-header {
	margin-top: 1.5%;
	margin-left: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.Accordion-item {
	margin-top: 0% !important;
	display: flex;
	flex-direction: column;
	background: var(--Lighter);
	margin-left: 5% !important;
	margin-right: 5% !important;
}

.Accordion-content {
	display: flex;
	flex-direction: column;
	background: var(--Lighter);
	margin-left: 5% !important;
	margin-right: 5% !important;
}

.Custom-input-text {
	background: var(--Lighter);
	border-radius: 4px;
	width: 90%;
	height: 48px;
	margin-left: 3.33%;
	margin-top: 1.5%;
	color: var(--TextHeading);
	text-indent: 5px;
	border: 0;
}

.Resume-bottom {
	margin-top: 2%;
	margin-left: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--TextHeading);
	justify-content: center;
	align-items: center;
}

.Resume-bottom h3 {
	align-self: center;
	margin-top: 1%;
	margin-bottom: 2%;
	font-weight: bold;
	color: var(--TextHeading);
}

.Resume-bottom div {
	margin-bottom: 1%;
	width: 100%;
}

.Resume-bottom h4,
label {
	color: var(--TextHeading);
	font-weight: bold;
}

.Finalizar-chamado {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: auto;
}

.Finalizar-chamado input {
	background: var(--ButtonBright);
	border: 0;
	height: 40px;
	color: var(--Darker);
	font-weight: bold;
}

label {
	margin-left: 3%;
}
