@import "../../../../App.css";

.PSR-Main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.report-form {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.report-form div {
	width: 100%;
}

.Report-input {
	background: var(--Lighter) !important;
	/* border-radius: 4px !important; */
	/* width: 100%; */
	border: 0;
	height: 48px !important;
	margin-left: 3.33%;
	margin-top: 1.5%;
	color: var(--TextHeading);
	text-indent: 5px;
	margin-right: 3.33%;
}

.PSR-Main text {
	color: var(--TextHeading);
}

.PSR-Content {
	margin-top: 2%;
	width: 100%;
	height: 100%;
}

.PSR-Header {
	margin-top: 4% !important;
	margin: auto 4%;
}

.PSR-Content div {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	height: 20%;
}

.addres-input {
	margin-top: 0% !important;
}

.PSR-Content form text {
	font-weight: bold;
	margin-left: 3%;
}

.PSR-Content div input {
	background: #cebdbd;
	border-radius: 4px;
	height: 42px;
}
