@import "../../App.css";

.mainDiv {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	display: flex;
	flex-direction: column;
}

.cadastro-header {
	margin: 0% 0%;
}

.input-login {
	background: var(--Lighter);
	border-radius: 4px;
	width: 90%;
	height: 48px;
	margin-left: 3.33%;
	margin-top: 1.5%;
	color: var(--TextHeading);
	text-indent: 5px;
	border: 0;
}

.back-icon {
	display: flex;
	font-size: 25px;
	padding: 1%;
	margin: 0% !important;
}

.items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--TextHeading);
}

.topText {
	padding: 1%;
	text-align: center;
	font-size: 20px;
}

.topText:before {
	content: "[";
}

.topText:after {
	content: "]";
}

.icones {
	font-size: 45px;
	padding: 1%;
	margin: 0 1.5%;
}

.line-text {
	display: flex;
	margin: 0 1.5%;
	padding: 1%;
	width: auto;
	padding: 50px 0;
}

.topText2 {
	font-size: 12px;
}

.line {
	width: 92.5px;
	top: 35%;
	height: 0px;
	border: 1px solid var(--TextHeading);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.topText3 {
	width: 129px;
	height: 18px;
	left: 10%;
	top: 57%;
	font-size: 12px;
	line-height: 18px;
	color: black;
}

.bottomEntrar {
	background: var(--ButtonBright);
	border: 0;
	height: 40px;
	color: var(--Darker);
	font-weight: bold;
	margin-top: 20%;
	transition: 0.5s all;
}

.bottomEntrar:hover {
	background: var(--Lighter);
	color: var(--TextHeading);
}

.topText4 {
	width: 52px;
	height: 21px;
	left: 40%;
	top: 23%;
	font-size: 20px;
	line-height: 21px;
	text-decoration: none;
	color: #ffffff;
}

.checkbox {
	margin: 20px 0;
}

@media screen and (max-width: 960px) {
	.back-icon {
		margin: 10%;
	}
}
