@import "../../../../App.css";

.Necessidades-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Accordion {
	background: var(--Darker) !important;
	width: 100% !important;
	margin-top: 2%;
}

.Necessidades-form {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.active {
	background: var(--Lighteen) !important;
	/* opacity: 0.75 !important; */
}

.Necessidades-main text,
label {
	color: var(--TextHeading);
}

.Desc-input {
	background: var(--Lighter);
	border-radius: 4px;
	width: 90%;
	height: 48px;
	margin-left: 3.33%;
	margin-top: 1.5%;
	color: var(--TextHeading);
	text-indent: 5px;
	border: 0;
}

.Accordion-item {
	margin-top: 2% !important;
	display: flex;
	flex-direction: column;
	background: var(--Lighter);
	margin-left: 5% !important;
	margin-right: 5% !important;
}

.Accordion-content {
	display: flex;
	flex-direction: column;
	background: var(--Lighter);
	margin-left: 5% !important;
	margin-right: 5% !important;
}

.Container-field {
	display: flex;
	flex-direction: column;
	background: var(--Lighter);
}

.Container-field text {
	font-weight: bold;
	margin-top: 6%;
}

.Container-header {
	margin-top: 6%;
	margin-left: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.Container-header text {
	font-weight: bold;
}

.Necessidades-next {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20%;
}

.Necessidades-next input {
	background: var(--ButtonBright);
	border: 0;
	height: 40px;
	color: var(--Darker);
	font-weight: bold;
}

label {
	margin-left: 3%;
}
