.Search {
	position: absolute;
	top: 2rem;
	z-index: 10;
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	height: 42px;
	box-sizing: border-box;
	border: 0;
	text-align: left;
	text-indent: 10px;
	text-overflow: ellipsis;
	background: var(--TextHeading);
	color: var(--Darker);
	border-radius: 20px;
}

.modal-chamado-nececidades {
	display: flex;
	flex-direction: column;
}

.Map-container {
	width: 100%;
	display: flex;
	border: none;
	height: calc(100vh - 46px);
}

.Map-container div:first-child {
	border: none;
}

.modal-chamado-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 80vh;
	background: var(--Darker);
	color: var(--TextHeading);
	border: 0 !important;
}

#modal-content {
	box-shadow: none !important;
	border: 0 !important;
}

.modal-chamado-infos div {
	margin-top: 6%;
}

.modal-chamado-infos div * {
	padding-top: 1%;
}

.modal-chamado-container h1 {
	font-size: 1.5rem;
}

.modal-chamado-container h3 {
	font-weight: bold;
	font-size: 1.2rem;
}

.modal-chamado-container button {
	margin-left: auto;
	width: 8%;
}

.modal-ajuda-button {
	width: 100% !important;
	margin-top: auto;
	height: 65px;
	background: var(--ButtonBright);
	color: var(--Darker);
	border: none;
	border-radius: 2%;
	transition-duration: 0.5s;
}

.modal-ajuda-button:hover {
	background: var(--Lighter);
	color: var(--TextHeading);
}

.modal-fechar {
	text-decoration: none;
	width: 10% !important;
	background: transparent;
	color: #ffffff;
	height: 32px;
	transition-duration: 0.5s;
	font-size: 28px;
}

.modal-fechar:hover {
	background: var(--Lighter);
	border-radius: 5px;
}

button {
	border: 0;
	font-size: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
}
