.mainDiv {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
}

.back-icon {
	display: flex;
	font-size: 25px;
	padding: 1%;
}

.items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.top-text {
	padding: 1%;
	text-align: center;
	font-size: 20px;
}

.icones {
	font-size: 45px;
	padding: 1%;
	margin: 0 1.5%;
}

.line-text {
	display: flex;
	margin: 0 1.5%;
	padding: 1%;
	width: auto;
	padding: 50px 0;
}

.topText2 {
	font-size: 12px;
}

.line {
	width: 92.5px;
	top: 35%;
	height: 0px;
	border: 1px solid #000000;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.topText3 {
	width: 129px;
	height: 18px;
	left: 10%;
	top: 57%;
	font-size: 12px;
	line-height: 18px;
	color: black;
}

.bottomEntrar {
	width: 335px;
	height: 48px;
	background: #835757;
	color: white;
	border-radius: 4px;
	transition: 1s all;
}

.bottomEntrar:hover {
	background: #2e1b1c;
}

.topText4 {
	width: 52px;
	height: 21px;
	left: 40%;
	top: 23%;
	font-size: 20px;
	line-height: 21px;
	text-decoration: none;
	color: #ffffff;
}

.fogot-password {
	width: 129px;
	height: 18px;
	left: 10%;
	top: 57%;
	font-size: 12px;
	line-height: 18px;
	color: var(--TextHeading);
}

@media screen and (max-width: 960px) {
	.back-icon {
		margin: 10%;
	}
}
