@import "../../App.css";

.ReportBox {
	box-sizing: flex;
	margin: 0;
	font-family: Poppins;
	font-style: bold;
	font-weight: normal;
	background-color: var(--ButtonBright);
	border-radius: 15px;
	margin: 8% 4%;
	padding: 2%;
}

.EditButton {
	text-align: right;
	font-weight: bolder;
	float: right;
}

.TextoReportBox {
	text-align: left;
	margin-bottom: 6%;
	font-weight: bolder;
}

.Text {
	margin: 0;
	position: absolute;
	top: 43%;
	left: 50%;
	width: 70%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 20px;
	line-height: 30px;
}

.bottomText {
	margin: 0;
	position: absolute;
	top: 53%;
	left: 50%;
	width: 70%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 12px;
	line-height: 18px;
}

.btnChamado {
	margin: 0;
	position: absolute;
	top: 63%;
	left: 50%;
	width: 210px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #c4c4c4;
	border-radius: 24px;
	height: 48px;
}

.linkChamado {
	padding-left: 32px;
	background-image: url('./megafone.png');
	background-position: left;
	background-repeat: no-repeat;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: var(--Darker);
	border-bottom: 0;
	text-decoration: none;
}

#text-attributes {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	color: var(--TextHeading);
}
